.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 23px;
    border: 2px solid #5366cf;
    border-radius: 20px;
}
button{
    font-size: 30px;
    background-color: blue;
    width: 70px;
    height: 40px;
    border-radius: 20px;
}
h1{
    font-size: 23px;
    color: #3939d7;
}
.calculator{
    display: inline-block;
    border: solid;
    border-width: 3px;
    padding-top: 3px;
    background-color: #2ec2db;
}